<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="logDirectory"  value="${basedir}/logs" />
	<!--<variable name="logDirectory"  value="${basedir}/logs/${shortdate}" />-->
	<targets async="true">
		<!--<target name="FileManager"
            xsi:type="File"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}"
            fileName="${logDirectory}/log.txt"
            archiveFileName="${logDirectory}/trace.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true" />-->
		<!--<target name="FileManager2"
             xsi:type="File"
             layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}"
             fileName="${logDirectory}/log2.txt"
             archiveFileName="${logDirectory}/error.{#}.txt"
             archiveEvery="Day"
             archiveNumbering="Rolling"
             maxArchiveFiles="7"
             concurrentWrites="true"
             createDirs="true"
             autoFlush="true" />-->

		<target name="FileManager"
			 xsi:type="File"
			 layout="[${time}] ${level:uppercase=true:padding=5} || ${logger} @ TID=${threadid} || ${message} - ${exception:format=tostring}"
			 fileName="${logDirectory}/${shortdate}.log"
			 archiveEvery="Day"
			 archiveNumbering="Rolling"
			 maxArchiveFiles="7"
			 concurrentWrites="true"
			 createDirs="true"
			 autoFlush="true" />
	</targets>
	<rules>
		<!--<logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="FileManager" />-->
		<!--<logger name="*" minlevel="Error" writeTo="FileManager2" />-->
		<logger name="*" minlevel="Info" writeTo="FileManager" />
	</rules>
</nlog>
